
# HTID:21536955: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
DirectoryIndex "./HomeLayOut/homelayout.php"
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:21536955:
